html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    position: relative;
    padding: 0 5rem;
    justify-content: left;
    align-items: center;
    height: 5rem;
    background-color: #E0E0E0;
}
.menu_bar{
    outline: none;
    border: none;
    background-color: #E0E0E0;
    color: #6a6a6a;
    font-size: 1.5rem;
    font-family: 'Yanone Kaffeesatz';
    cursor: pointer;
}
.menu_bar:hover{
    color: #c72828;
    text-decoration: underline #c72828;
    transition: 1s;
}
#logo{
    font-family: "Francois One";
    font-size: 3vw;
    margin-top: 1.5rem;
    color: #3e3e3e;
}
#icon{
    margin-left: 38rem;
}
#menu{
    margin: 0 4rem;
}
#header-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
    height: 60vh;
    
}
#conteinerForms{
    display: grid;
    width: 100%;
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
}
#item-1-forms{
    grid-column-start: 1;
    grid-column-end: 2;
}
#headerforms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#titleForms{
    font-size: 40px;
    font-family: "Francois One";
    letter-spacing: 12px;
}
#subtileForms{
    color:#6a6a6a;
    font-size: 15px;
    font-family: 'Yanone Kaffeesatz';
}
#FormArea{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 10px;
}
.input{
    margin-bottom: 10px;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #828282;
    font-family: 'Yanone Kaffeesatz';
}
#textBox{
    width: 400px;
    height: 100px;
    color: #828282;
    font-family: 'Yanone Kaffeesatz';
    font-size: 16px;
}
#botãoEnviar{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 600px;
    height: 40px;
    border-radius: 5px;
}

#fotoForms{
    width: 600px;
    height: 600px;
}