html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    position: relative;
    padding: 0 5rem;
    justify-content: left;
    background-color: rgb(255, 255, 255);
    align-items: center;
    height: 5rem;
}
.menu_bar{
    outline: none;
    background-color: white;
    border: none;
    color: #6a6a6a;
    font-size: 1.5rem;
    font-family: 'Yanone Kaffeesatz';
    cursor: pointer;
}
.menu_bar:hover{
    color: #c72828;
    text-decoration: underline #c72828;
    transition: 1s;
}
#logo{
    font-family: "Francois One";
    font-size: 3vw;
    margin-top: 1.5rem;
    color: #3e3e3e;
}
#icon{
    margin-left: 38rem;
}
#menu{
    margin: 0 4rem;
}
#header-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
    height: 60vh;
    
}
#title{
    font-size: 7vw;
    color: rgb(0, 0, 0);
    font-family: "Yanone Kaffeesatz";
    text-align: center;
}
#subtitle{
    color: rgba(0, 0, 0, 0.784);
    font-family: "Yanone Kaffeesatz";
    font-size: 3vw;
}

header{
    height: 100%;
}
header::before{
    content: "";
    display: block;
    position: absolute;
    background-image: url("../assets/header.jpeg");
    left: 0;
    top: 0;
    width: 100%;
    height: 105%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.btn {
	border: none;
	font-family: 'Arial Black';
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 30px;
	display: inline-block;
	letter-spacing: 1px;
	font-weight: 800;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
h1{
    margin-block-start: 0;
    margin-block-end: 2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
.btn-1 {
	border: none;
	color: #fff;
	background-color: #c72828;

}
.btn-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	
}

.btn-1c:hover,
.btn-1c:active {
    background: none;
    transition: 0.5s;
}

.btn-1c:hover:after,
.btn-1c:active:after {
	width: 100%;
    background-color: #333333;
    transition: 1.2s;
}
/*Parte do meio*/
#describle{
    display: grid;
    width: 100%;
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
    margin-top: 8rem;
}

#item1Describle{
    grid-column-start: 1;
    grid-column-end: 2;
}
#item2Describle{
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#imgDescrible{
    width: 100%;
    height: 650px;
    object-fit: cover;
}

#titleDescrible{
    width: 580px;
    font-size: 35px;
    font-weight:200;
    font-family: "Francois One";;
    color: #6a6a6a;
}
#ulDescrible{
   list-style: none;
}

.liDescrible{
    margin-bottom: 10px;
    font-family:  "Yanone Kaffeesatz";
    font-size: 30px;
    color: #6a6a6a;
}
#pay_now{
    display: grid;
    width: 100%;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto;
    margin-top: 90px;
}
#itemTermometro1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#itemTermometro2{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
}
#termometroIMG{
    width: 500px;
    height: 450px;
}
#titleTermo{
    font-family: "Francois One";
    font-size: 80px;
    color: #3e3e3e;
    font-weight: 300;
}
#textTermo{
    font-size: 30px;
    letter-spacing: 1px;
    width: 700px;
    color: #6a6a6a;
    font-family:  "Yanone Kaffeesatz";
}
#precoTermo{
    font-size: 35px;
    font-family: 'Arial';
    font-weight: bold;
    color: #333333;
}
#botaoTermo{
    width: 300px;
}
footer{
    display: flex;
    margin-top: 10rem;
    width: 100%;
    height: 100px;
    background-color: #333333;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
}